{% extends 'base.html' %}
{% set title = _('Spam Dashboard') %}

{% block title %}{{ page_title(title) }}{% endblock %}
{% block extrahead %}
<style>

.dashboard .kpis {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.dashboard .kpis dt {
    font-size: large;
}

.dashboard .kpis dd {
    font-size: x-large;
    margin-bottom: 10px;
}


.spam-trends-table {
    border: 0;
    border-collapse: collapse;
}
.spam-trends-table caption {
    text-align: center;
}

.spam-trends-table .period-header {
    text-align: right;
    width: 7em;
}

.spam-trends-table .changetype-header {
    text-align: right;
    padding-left: 10px;
}

.spam-trends-table .date-header,
.spam-trends-table .period-header,
.spam-trends-table .stat-header,
.spam-trends-table .data,
.spam-trends-table .no-data,
.spam-trends-table .trend {
    padding-left: 1em;
    padding-right: 1em;
}

.spam-trends-table .rate {
    border-left: 1px solid black;
    padding-left: 1em;
    padding-right: 0.5em;
}

.spam-trends-table .date-detail-header {
    text-align: right;
    padding-left: 5px;
}

.spam-trends-table .row-header {
    vertical-align: top;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 0.5em;
}

.spam-trends-table .data,
.spam-trends-table .rate {
    text-align: right;
    font-family: monospace;
}

.spam-trends-table .no-data {
    text-align: right;
    font-style: italic;
}

.spam-trends-table .trend {
    text-align: right;
    font-size: smaller;
    font-family: monospace;
}

.spam-trends-table td.increase::after {
    content: "▲";
    font-size: smaller;
}

.spam-trends-table td.decrease::after {
    content: "▼";
    font-size: smaller;
}

.spam-trends-table .row-total-top {
    border-top: 1px solid black;
}

.spam-trends-table .row-total-bottom {
    border-bottom: 3px solid black;
}

.spam-trends-table .row-total {
    background-color: whitesmoke;
}

table.spam-events-table {
    table-layout: fixed;
    width: 100%;
}

.spam-events-table td {
    word-break: keep-all;
}

.spam-events-table .data {
    text-align: right;
    padding-left: 5px;
}


.spam-events-table td.data {
    font-family: monospace;
}

.spam-events-table .name {
    text-align: left;
    padding-right: 5px;
}

.spam-events-table .path,
.spam-events-table .name
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spam-events-table th {
    vertical-align: bottom;
}
.spam-events-table col.data,
.spam-events-table col.name {
    width: 15%
}

.spam-events-published-spam-table col.path {
    width: 40%
}

</style>
{% endblock %}


{% set stat_ids=('published_spam', 'blocked_spam', 'blocked_ham') %}
{% block content %}

    <div class="dashboard">
        <h1>{{ title }}</h1>
        {% if processing %}
            <p>{{ _('The report is being processed. Please reload in a minute.') }}</p>
        {% else %}
            <table class='spam-trends-table'>
                <caption>{{ _('Trends Over Time, Ending %(date)s', date=summary.end ) }} (Horizontal)</caption>
                <thead>
                    <tr>
                        <th class="stat-header">Period</th>
                        <th class="stat-header">Start</th>
                        {% for stat in stat_ids -%}
                        <th class="stat-header">{{ names[stat] | default(stat) }}</th>
                        {% endfor -%}
                    </tr>
                </thead>
                <tbody>
                    {% for period in trends.over_time -%}
                    <tr>
                        <th scope="row" class="row-header">{{ names[period.id] | default(period.id) }}</th>
                        <td class="row-header">{{ period.current.start }}</th>
                        {%- for stat in stat_ids %}
                        <td class="data">{{ period.current[stat] }}</td>
                        {%- endfor %}
                    </tr>
                    {% endfor -%}
                </tbody>
            </table>

            <table class='spam-trends-table'>
                <caption>{{ _('Trends Over Time, Ending %(date)s', date=summary.end ) }} (Vertical)</caption>
                <thead>
                    <tr>
                        <th></th>
                        {% for period in trends.over_time -%}
                        <th class="period-header">{{ names[period.id] | default(period.id) }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="row-header">{{ _('Start') }}</th>
                        {%- for period in trends.over_time -%}
                        <th class="date-detail-header date-header">{{ period.current.start }}</th>
                        {%- endfor %}
                    </tr>
                    {%- for stat in stat_ids %}
                    <tr class="row-{{stat | replace('_', '-')}} row-{{stat | replace('_', '-')}}-top">
                        <th scope="row" class="row-header">{{ names[stat] | default(stat) }}</th>
                        {%- for period in trends.over_time -%}
                        <td class="data">{{ period['current'][stat] }}</td>
                        {%- endfor %}
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>

          {% if recent_spam %}
            <table class="spam-events-table spam-events-published-spam-table">
                <caption>{{ _('Published Spam') }}</caption>
                <colgroup>
                    <col span="1" class="data">
                    <col span="1" class="data">
                    <col span="1" class="data">
                    <col span="1" class="name">
                    <col span="1" class="path">
                </colgroup>
                <thead>
                    <tr>
                        <th class="data">{{ _('Date') }}</th>
                        <th class="data">{{ _('Time Active (seconds)') }}</th>
                        <th class="data">{{ _('Revision') }}</th>
                        <th class="name">{{ _('Change Type') }}</th>
                        <th class="path">{{ _('Path') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rs in recent_spam -%}
                    <tr>
                        <td class="data">{{ rs.date }}</td>
                        <td class="data">{{ rs.time_active }}</td>
                        <td class="data"><a href="{{ rs.revision_path }}">{{ rs.revision_id }}</a></td>
                        <td class="name">{{ names[rs.change_type] | default(rs.change_type) }}</td>
                        <td class="path"><a href="{{ rs.document_path }}">{{ rs.document_path }}</a></td>
                    </tr>
                    {% endfor -%}
                </tbody>
            </table>
          {% else %}
            <p>{{ _('No recent published spam.') }}</p>
          {% endif %}
        {% endif %}{# processing #}
    </div>
    {% if not processing %}
    <ul>
        <li>{{ _('Historical data generated at %(date)s', date=generated) }}</li>
        <li>{{ _('Recent event data generated at %(date)s', date=now) }}</li>
        <li>
            <a href="{{ url('dashboards.spam_download', output='json') }}">
                {{ _('Download JSON') }}
            </a>
        </li>
        <p>
            <a href="{{ url('dashboards.spam_download', output='stats.csv') }}">
                {{ _("Download daily spam CSV") }}
            </a>
        </p>
    </ul>
    {% endif %}
{% endblock %}
